# OS cache files
.DS_Store

# Dependencies
node_modules/

# Build directories
dist/
tmp/
.next/
.nuxt/

# To maintain directory structure
!.keep

packages/document-parser/credentials/access_token.json

# Error files
yarn-error.log

artifacts/
.npmrc
.idea
cache/
src/types/
yarn-error.log
.env
